:root {
  font-family: 'Poppins';
  font-weight: 500;
  color: var(--black);
  line-height: 150%;
  font-size: 8px;

  --black: #000000;
  --dark-grey: #5c5c5c;
  --light-grey: #f0f0f0;
  --green: #28d979;
  --white: #ffffff;
  --yellow: #ddf163;
  --second-black: #1e1e1e;
  --dark-green: #149063;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--second-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download {
  margin-top: 8px;
  border: 1px solid var(--green);
  color: var(--white);
  background: transparent;
  display: flex;
  margin-left: auto;
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  padding: 2%;
}

.main {
  background: var(--white);
  max-width: 595px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--second-black);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--white);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.editable {
  cursor: pointer;
}

.top-section {
  display: flex;
  gap: 20px;
}

.section {
  padding: 12px;
  background: var(--light-grey);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.section#personal-info {
  width: 124px;
  height: 124px;
}

.section#photo {
  padding: 0px;
  width: 124px;
  height: 124px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section#languages {
  width: 267px;
  height: 124px;
}

.personal-info-wrapper {
  display: flex;
  gap: 20px;
}

h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 104%;
}

.range {
  max-width: 184px;
  height: 11px;
  background: var(--green);
  border-radius: 3px;
  flex-grow: 1;
}

h2 {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 16px;
  font-weight: 500;
}

.flex-col {
  display: grid;
  grid-template-columns: 41px 1fr;
  gap: 10px;
}

.lang-bar {
  display: flex;
  align-items: center;
  gap: 17px;
}

.lang {
  font-size: 10px;
  line-height: 104%;
  white-space: nowrap;
  width: 41px;
}
.greeting {
  font-size: 10px;
  flex-grow: 1;
}

.name {
  font-weight: 600;
  font-size: 14px;
  line-height: 104%;
  margin-bottom: 6px;
}

.job {
  font-size: 12px;
  line-height: 150%;
  color: var(dark-grey);
}

.section#personal-info {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.hide {
  display: none;
}

.shown {
  display: block;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  z-index: 99;
  transition: all 0.3s ease-in;
}

.popup-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  z-index: 15;
  transition: transform 0.4s ease-in;
  border-radius: 12px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  padding: 20px;
  min-width: 300px;
  width: 100%;
}

.close {
  color: var(--black);
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-input {
  width: 100%;
}

.save-btn {
  color: var(--white);
  padding: 4px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
}

.save-btn:hover {
  background-color: green;
}

.interest-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.interest-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 10px;
  width: fit-content;
  font-weight: 400;
}

.contact {
  margin-top: 20px;
  background: #000;
  color: var(--white);
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;
}

.contact-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 11px;
}

.contact-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.contact p {
  margin: 5px 0;
}
.date {
  margin-bottom: 8px;
}
.education,
.tools,
.experience {
  padding: 20px;
  border-radius: 15px;
}

.exp-wrapper {
  font-size: 8px;
  font-weight: 400px;
  align-items: center;
}

.education-card,
.exp-card {
  background: var(--white);
  padding: 8px;
  border-radius: 10px;
  position: relative;
  font-weight: 400;
  font-size: 10px;
}

.exp-card {
  margin-bottom: 10px;
}

.education-card.green,
.exp-card.green {
  background: var(--green);
  color: #fff;
}

.exp-column {
  max-width: 124px;
  width: 100%;
  font-weight: 400px;
}

.exp-wrapper {
  display: flex;
  gap: 8px;
}

.exp-job {
  font-size: 10px;
  font-weight: 500px;
}

.green {
  position: relative;
}

.heart {
  position: absolute;
  right: 8px;
  top: 11px;
  width: 11px;
  height: 10px;
}

.year {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 8px;
}

.hashtags {
  font-size: 8px;
  color: var(--dark-green);
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 8px;
}

.green > .hashtags {
  color: var(--white);
}

.middle-section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.education-card-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.section#education {
  width: 100%;
  height: auto;
}

.bottom-section {
  display: flex;
  gap: 20px;
}
.tool-block {
  background-color: var(--white);
  padding: 16px 12px;
  border-radius: 8px;
  max-width: 76px;
  position: relative;
}
.tool-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.exp-card ul {
  margin-top: 10px;
  padding-left: 20px;
}

.recent {
  background: rgba(126, 115, 18, 0.4);
  color: var(--yellow);
  padding: 3px 8px;
  font-size: 8px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.logo {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.tools {
  max-width: 124px;
  width: 100%;
}

.tools-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tool-title {
  position: absolute;
  background-color: black;
  padding: 2px 4px;
  z-index: 10;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: -4px;
  color: var(--white);
  border-radius: 8px;
  width: fit-content;
  white-space: nowrap;
  font-size: 5px;
  font-weight: 500;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(130, 243, 153, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media screen and (max-width: 660px) {
  .top-section,
  .bottom-section {
    align-items: center;
    flex-direction: column;
  }
  .middle-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .tools,
  .tool-block {
    width: 100%;
    max-width: 600px;
  }
}

.isEditing {
  background: var(--yellow);
  opacity: 60%;
  color: gray;
}
